<h1>Hello world</h1>
<h2>Hello <%= nama %></h2>
<h3>Daftar Mahasiswa: </h3>
<% mahasiswa.forEach(mhs => { %> 
<ul>
  <li>Nama: <%= mhs.nama %></li>
  <li>Jurusan: <%= mhs.jurusan %></li>
</ul>
<% }) %>
